.nav_position{

    width: 900px;
}

.nav_login_button{
    margin-left: auto;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}

.common-container{
    margin-top:80px;
}